/*General styling*/
a{
    text-decoration: none;
}

img{
    filter: invert(99%) sepia(5%) saturate(276%) hue-rotate(254deg) brightness(117%) contrast(100%);
}

@keyframes glowingorange {
    0%{
        box-shadow: 0 0 16px #D86945;
    }
    50%{
        box-shadow: 0 0 32px #D86945;
    }
    100%{
        box-shadow: 0 0 16px #D86945;
    }
}

@keyframes glowingwhite {
    0%{
        box-shadow: 0 0 4px #ffffff80;
    }
    50%{
        box-shadow: 0 0 8px #ffffff80;
    }
    100%{
        box-shadow: 0 0 4px #ffffff80;
    }
}

/*Index*/

body{
    background: #1A1C26;
    margin: 0;
}

#background{
    background-image: url(Imagenes/different-types-of-encryption-hero1563466041427238.png);
    background-size: cover;
}

header{
    align-items: center;
    border-bottom: 0.1vh #D8694540 solid;
    box-shadow: 0px 4px 24px #D8694540;
    display: flex;
    height: 9.9vh;
    padding: 0 5%;
    width: 90%;
}

.logoEncriptador{
    align-items: center;
    justify-content: left;
    align-content: center;   
}

header a{
    color: #fff;
}


header h5, header h4{
    display: inline-block;
}

main{
    height: 70vh;
    margin: 5vh 0;
    padding: 0 5%;
    width: 90%;
}

#txtInsertado, #mensaje{
    background: #1a1c2600;
    border-radius: 8px;
    color: #D86945;
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: 200;
    height: 16vh;
    padding: 5vh 4.35%;
    resize: none;
    width: 90.65%;
}

#txtInsertado{
    border: 1px #D8694540 solid;
}

#mensaje{
    animation: none; 
    border: 1px #d86a4500 solid;
    background: #df865266;
    color: white; 
}

#txtInsertado::placeholder{
    color: #df8652A6;
    font-weight: 200;
}

#mensaje::placeholder{
    color: white; 
    font-weight: 200;
    background-image: url(Imagenes/file-earmark-lock2-fill.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    padding-left: 88px; 
    line-height: 80px; 
}

textarea:focus, textarea:hover{
    animation: glowingorange 2s infinite;
    outline: none;
}

.cajaBtns{
    display: flex;
    gap: 2vh;
    justify-content: space-between;
}

.encriptar, .desencriptar, .copiar{
    background: #df8652A6;
    border: none;
    border-radius: 8px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 12px;
    gap: 8px;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh; 
    transition: 1s all;
    width: 100%;
}

button:hover{
    animation: glowingorange 4s infinite;
    background:#D86945;
    transform: scale(1.05);
}

footer{
    align-items: center;
    border-top: 0.1vh #D8694540 solid;
    box-shadow: 0px 4px 24px #D8694540;
    display: flex;
    justify-content:space-between;
    height: 9.9vh;
    padding: 0 5%;
    width: 90%;
}

.socialMedia{
    align-items: center;
    background: none;
    border: 0.1vh #ffffff40 solid;
    border-radius: 4px;
    display: flex;
    justify-content:space-between;
    padding: 4px 16px;
    transition: 4s all;
}

.socialMedia h6{
    padding-right: 16px;
    color: #fff;
}

.socialIcons{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 8px;
    padding-left: 16px;
    border-left: 1px #fff solid; 
}

.socialIcons li{
    transition: 1s all;
}

.socialMedia li:hover{
    transform: scale(1.10);
}

.socialMedia:hover{
    animation: glowingwhite 1.5s infinite;
    background: none;
    transform: scale(1);
}

/*Media queries*/

@media (min-width: 280px){
    html{
        font-size: 12px;
        color: white;
        font-weight: 100;
    }

    h6{
        font-family: 'Josefin Sans';
        font-size: 1rem;
    }

    h5{
        font-family: 'Josefin Sans';
        font-size: 1.2rem;
    }

    h4{
        font-family: 'Roboto Mono';
        font-size: 1.44rem;
    }

    p{
        font-family: 'Roboto Mono';
        font-size: 1rem;  
    }

    .encriptar, .desencriptar, .copiar{
        font-size: 1rem;
    }
}

@media (min-width: 560px){
    html{
        font-size: 14px;
    }

    .encriptar, .desencriptar, .copiar{
        font-size: 14px;
    }
    
    .boxInsertada{
        display: inline-block;
        margin-right: 5%;
        vertical-align: top;
        width: 54%;
    }
    .boxEncriptada{
        display: inline-block;
        vertical-align: top;
        width: 40%;
    }

    #txtInsertado, #mensaje{
        height: 52vh;
    }

    .socialIcons img{
        width: 20px;
    }
}

@media (max-height: 560px){
    html{
        font-size: 10px;
    }
    .socialIcons img{
        width: 15px;
    }
    .encriptar, .desencriptar, .copiar{
        font-size: 10px;
    }
}

@media (min-width: 1440px){
    html{
        font-size: 18px;
    }
}